/* General Display Style Components */
html, body {
    width: 100%;
    margin: auto;
    background-color: #161e27;
}
link [rel="icon"] {
    border-radius: 50%;
}

.show {
    display: unset;
    margin: unset;
    opacity: 100%;
}
.hide {
    display: none;
    margin: 0px;
    opacity: 0%;
}

/* Containers */
.component-group {
    width: max(300px, 60%);
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    background-color: #212c39;
    border-radius: 3vw;
}
.component-subgroup {
    margin: 2%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 2%;
    background-color: #2b3b4e;
    border-radius: 10px;
}

.promo-links {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.file-buttons {
    display: inline;
}

.embed-options {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin: 1%;
    margin-bottom: 0%;
}
.embed-option-span {
    flex: 1 1 calc(50% - 1rem);
    text-wrap: nowrap;
}

@media (max-width: 350px) {
    .embed-options {
        flex-direction: column;
    }
    .embed-option-span {
        flex: 1 1 100%;
    }
}

/* Text */
h1 {
    margin-left: 1%;
    margin-top: 1%;
    padding-bottom: 0%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: max(3vw, 16px)
}

h2 {
    display: inline;
    margin-left: 1%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: max(2vw, 12px);
}
h2.slim {
    padding-top: 0%;
    padding-bottom: 0%;
    color: rgb(163, 163, 163);
    font-style: italic;
}

h3 {
    display: inline;
    padding-left: 2%;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
h3.message {
    color: rgb(255, 224, 112);
    text-shadow: -1px -1px 0 rgb(115, 86, 0), 1px -1px 0 rgb(115, 86, 0), -1px 1px 0 rgb(115, 86, 0), 1px 1px 0 rgb(115, 86, 0);
}
h3.warning {
    color: rgb(255, 172, 172);
    text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
}
h3.success {
    color: rgb(172, 255, 172);
    text-shadow: -1px -1px 0 rgb(0, 167, 25), 1px -1px 0 rgb(0, 167, 25), -1px 1px 0 rgb(0, 167, 25), 1px 1px 0 rgb(0, 167, 25);
}

p {
    margin-left: 1%;
    line-height: 160%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(6pt, 2.5vw, 15pt);
    text-wrap: nowrap;
}

label {
    padding-bottom: 0.5%;
    vertical-align: middle;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: max(2vw, 12px);
    text-wrap: nowrap;
}

label.input-label {
    margin-left: 1%;
    line-height: 3vw;
    font-size: max(2vw, 12px);
}

a {
    color: rgb(0, 140, 255);
    font-family: Arial, Helvetica, sans-serif;
}
a:hover {
    color: rgb(157, 211, 255);
}

/* Images */
.button-image {
    vertical-align: middle;
    height: 2vw;
}

/* Inputs */
textarea {
    width: 70%;
    margin: 1%;
    padding-left: 1.2%;
    padding-top: 0.6%;
    background-color: #161e27;
    color: white;
    border-width: min(0.5vw, 0.3vh);
    border-radius: min(2vw, 1vh);
    border-color: #212c39;
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: min(2vw, 3vh);
    resize: none;
}
.long {
    width: 50vw;
    height: max(min(4vw, 7vh), 20px);
    margin-left: 1%;
    padding-left: min(22vw, 1%);
    border-width: min(0.5vw, 0.3vh);
    border-radius: min(2vw, 1vh);
    border-style: hidden;
    font-size: max(2vw, 12px);
}
.short {
    width: max(16vw, 40%);
    height: max(5vh, 30px);
    border-width: min(0.5vw, 0.3vh);
    border-radius: min(2vw, 1vh);
    border-style: hidden;
    text-align: center;
}

input[type="number"] {
    width: max(16vw, 20%);
    margin-left: 1%;
    line-height: max(2vw, 3vh);
    border-radius: min(2vw, 1vh);
    border-style: hidden;
    font-size: max(2vw, 12px);
    text-align: center;
}

button, 
.button {
    margin: 0.5vw;
    color: white;
    padding: min(1%, 0.4vw);
    background-color: rgb(0, 140, 255);
    border-width: min(1vw, 0.5vh);
    border-radius: min(2vw, 1vh);
    border-color: rgb(0, 140, 255); /* Fallback for browsers that don't support rgba */
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: max(min(1.5vw, 2.5vh), 10px);
    font-weight: bold;
    text-decoration: none;
    text-wrap: nowrap;
}
button:hover,
.button:hover {
    color: white;
    border-color: white;
}
button:active,
.button:active {
    background-color: rgb(104, 187, 255);
}
button.nudge-right {
    margin-right: 1.5vw;
}

.tag {
    color: black;
    background-color: rgb(201, 231, 255);
    border-radius: 8px;
}
.tag:hover {
    background-color: rgb(255, 203, 203);
    border-color: rgb(78, 0, 0);
}

.primary-option {
    max-width: fit-content;
    margin: min(4vw, 3vh);
    margin-right: 0;
}
.secondary-option {
    max-width: fit-content;
    margin: 2%;
    margin-right: 1.5vw;
    vertical-align: middle;
    font-size: max(1.5vw, 10px);
}

/* Winner Display Style Components */

/* Containers */
.winner-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.winner {
    display: inline-grid;
    grid-template-columns: 33% 67%;
    width: 550px;
    margin: 0.5%;
    background-color: rgb(0, 140, 255);
    border-width: 2pt;
    border-radius: 11px;
    border-color: #161e27;
    border-style: solid;
}
.winner:hover {
    border-color: white;
}
.winner-info {
    display: grid;
    width: max(100px, 100%);
    background-color: #2b3b4e;
    border-radius: 0px 8px 8px 0px;
}
.winner-info-reroll-select,
.winner-info-reroll-select-again {
    display: grid;
    width: max(100px, 100%);
    background-color: #492525;
    border-radius: 0px 8px 8px 0px;
}
.winner-info-rerolled {
    display: grid;
    width: max(100px, 100%);
    background-color: #28564a;
    border-radius: 0px 8px 8px 0px;
}

/* Text */
.winner-display-name {
    margin-top: 5%;
    margin-bottom: 1%;
    justify-self: center;
    font-size: 20pt;
    font-weight: bold;
}
.winner-handle {
    margin-top: 2.5%;
    justify-self: center;
    font-size: 13pt;
}
.winner-profile {
    margin-bottom: 2%;
    justify-self: center;
    font-size: 15pt;
}

/* Images */
.winner-pfp {
    width: 90%;
    height: var(width);
    margin: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    align-self: center;
    justify-self: center;
    border-radius: 50%;
}

/* Overlay Display Elements */

/* Containers */
.file-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    overflow-x: hidden;
    background-color:#161e27; /* Fallback for browsers that don't support rgba */
    background-color:rgba(0,0,0,0.5);
}
.file-overlay-content {
    position: fixed;
    width: 50%;
    height: fit-content;
    top: 23%;
    left:23%;
    padding: 2%;
    background-color: #212c39;
    border-radius: 2vh;
}

/* Text */
.overlay-text {
    margin: 0;
    margin-bottom: 2vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: min(7vw, 3vh);
    font-weight: bold;
}

/* Inputs */
.exit-button {
    position: relative;
    float: right;
    margin-left: auto; 
    margin-right: 0;
    margin-bottom: inherit;
    background-color: rgb(255, 103, 103);
    border-radius: 100%;
    font-size: min(2vw, 1.5vh);
    font-style: bold;
}
.exit-button:active {
    background-color: rgb(255, 152, 152);
}

.config-upload {
    width: 96%;
    margin: auto;
    padding: 2%;
    color: white;
    background-color: #2b3b4e;
    border-radius: 1vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: max(1.2vw, 2vh);
    font-weight: bold;
}