textarea {
    resize: none;
}
.tip {
    font-size: small;
    font-style: italic;
    line-height: 1px;
}
.show {
    visibility: visible;
    display:unset;
    height: unset;
}
.hide {
    visibility: hidden;
    display:none;
    height: 0px;
}
